body {
    background-color: antiquewhite;
}

.contenedor {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-size: 36px;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: brown;

}

.subtitulo {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: blueviolet;
}

.imlarga {
    width: 115px;
    height: 125px;
    box-shadow: 5px 5px 10px 2px black;
}

.imcortas {
    width: 115px;
    height: 125px;
    box-shadow: 5px 5px 10px 2px black;
}

.imrellenas {
    width: 115px;
    height: 125px;
    box-shadow: 5px 5px 10px 2px black;
}

.contenidos {
    display: flex;
    justify-content: center;
}

.Plarga {
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #078d60;
}

.Pcortas {
    padding: 15px 30px 0px 30px;
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #078d60;
}

.Prellenas {
    font-family: cursive;
    text-transform: uppercase;
    font-weight: bold;
    color: #078d60;
}

p {
    display: flex;
    justify-content: center;

}