.contenedor{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-size: 36px;
    text-align: center;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: brown;
  
}
.subtitulo{
    display: flex;
   justify-content: center;
   font-size: 18px;
   color: blueviolet;
}
